:root {
  --background-color: rgb(39, 39, 39);
  --cart-bg: rgb(35, 35, 35);;
  --color: #fff;
  --oposite-color: #000;
  --gray: rgb(76, 76, 76);
  --dark-gray: rgb(51, 51, 51);
  --text-stroke:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
  --small-font: 1.1rem;
  --medium-font: 1.6rem;
  --medium-large-font: 3rem;
  --large-font: 4rem;
  --extra-large-font: 6rem;
  --input-color: #aaa;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  color: var(--color);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body.light {
  --background-color: #fff;
  --cart-bg: #f5f5f5;
  --color: black;
  --oposite-color: #fff;
  --gray: #dadada;
  --dark-gray: #cacaca;
  --text-stroke: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.bg {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: var(--background-color);
}

.container {
  background-color: var(--background-color);
  min-width: 250px;
  width: 100%;
  max-width: 2000px;
  margin: auto;
  position: relative;
}


 /* NAVIGATION */
.nav-bar-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid var(--gray);
  z-index: 1000;
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.nav {
  min-width: 150px;
  text-align: center;
}

.nav:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-button,
.link,
.settings-btn,
.item-btn,
.search-btn,
.add-to-cart-btn,
.submit-btn  {
  text-decoration: none;
  all: unset;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--medium-font);
}

.magnifier-glass {
  font-size: 20px;
  padding: 0.5rem;
  border-right: 1px solid var(--gray);
  cursor: pointer;
}

.magnifier-glass:hover {
  background-color: var(--dark-gray);
  border-radius: 8px;
}

/* SETTINGS */
.settings {
  position: relative;
  display: inline-block;
}

.settings-content {
  position: absolute;
  top: 100%;
  left: auto;
  right: -80px;
  background-color: var(--gray);
  min-width: 150px;
  padding: 0px 2px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50px);
  transform: translateY(-10px);
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 10;
}

.settings:hover .settings-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.settings-option {
  color: var(--color);
}

.settings-option:hover {
  background-color: var(--dark-gray);
  border-radius: 5px;
}

.fa-gear, .cart-exit, .settings-option:hover{
  cursor: pointer;
}


/* PRODUCTS */
.items-container {
  padding: 0 2rem 4rem 2rem;
}

.category-name {
  font-weight: bold;
  font-size: var(--large-font);
  text-align: center;
  margin: 5rem 0;

}

.category-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 clamp(0, 2vw, 2rem);
  justify-items: center;
  align-items: stretch;
  border-bottom: 1px solid var(--gray);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: clamp(300px, 90vh, 600px);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.item-img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-img {
  max-width: 100%;
  max-height: 100%;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  width: clamp(150px, 25%, 400px);
  pointer-events: none;
}

.menu[aria-expanded="true"] {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.2s ease;
  pointer-events: all;
}

.menu-link {
  font-size: var(--extra-large-font);
  text-shadow: var(--text-stroke);
}

.menu-link:hover {
  color: var(--oposite-color);
}

/* CART */
.cart {
  height: 100%;
  width: clamp(200px, 50vw, 600px);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: var(--medium-font);
  padding: 1.5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.cart[aria-expanded="true"] {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.cart-top {
  display: flex;
  justify-content: space-between;
}

.cart-img {
  width: 150px;
  height: 150px;
}

.cart-img > img {
  width: 130px;
  height: 150px;
}

.cart-items {
  margin-top: 4rem;
  font-size: var(--small-font);
}

.cart-quantity-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100px;
}

.cart-quantity-selector button {
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 150px;
  margin-bottom: 2rem;
}

.cart-item-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-info-containter, .cart-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 2rem;
}

.footer-links, .footer-about, .footer-contact, .footer-info, .cart-quantity-selector {
  display: flex;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: start;
}

.footer-newsletter {
  justify-self: right;
}

.footer-about-contact-container {
  display: flex;
  gap: 10%;
}

.footer-about, .footer-contact  {
  flex-direction: column;
}

.footer-about-item {
  max-width: 500px;
  width: 20vw;
}

.footer-info {
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  all: unset;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-size: var(--small-font);
}

.footer-about-item {
  width: 100%;
}

.footer-about-item > p {
  font-weight: bold;
  font-size: var(--medium-font);
  margin-top: 0;
}

.footer-link:hover {
  text-decoration: underline;
}

/* INPUT */
.input-container {
  display: inline-block;
  border-bottom: 2px solid var(--gray);
  width: 100%;
}

.input {
  color: var(--color);
  background: transparent;
  border: none;
  padding: 8px 4px;
  font-size: var(--small-font);
  width: 90%;
  outline: none;
  transition: border-color 0.2s;
}

.input::placeholder {
  color: var(--input-color);
}

.input:focus {
  border-bottom-color: var(--color);
}

/* SUMMARY */
.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.summary-form {
  width: 50%;
}

.submit-btn {
  margin-top: 2rem;
}

.total-info {
  font-size: var(--medium-font);
}

.total-amount {
  font-size: var(--large-font);
}

.back-shopping {
  margin-top: 4rem;
}

/* ETC */
.add-to-cart-btn, 
.summary-btn, 
.submit-btn, 
.back-shopping  {
  border: 1px solid var(--gray);
  padding: 1rem;
  font-size: var(--small-font);
  border-radius: 8px;
  text-align: center;
  background-color: inherit;
}

.add-to-cart-btn:hover, 
.summary-btn:hover, 
.submit-btn:hover,
.back-shopping:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.hidden {
  display: none;
}